.cars-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 28px;
}

.cars-list{
    width: 960px;
}


.pagination {
  margin: 48px 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagination button {
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.pagination button.active {
  background-color: #db0019;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
